:root {
  --darth-vader: #d2d2d2;
  --hun-solo: #e3e3e3;
  --chewbacca: #000;
  --luke-skywalker: #6f6f6f;
  --princess-leia: #fff;
  --sheev-palpatine: #545454;
  --yoda: #0003b9;

  --font-weight-1: 300;
  --font-weight-2: 400;
  --font-weight-3: 500;

  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
}
