.articleCardLayout {
  width: 290px;
  height: 480px;
  background-color: var(--princess-leia);
  border-radius: 16px;
  overflow: hidden;
}

.articleImage {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.articleCardContent {
  padding: 10px 20px 20px;
}

.articleCardHeader {
  display: flex;
  justify-content: space-between;
  color: var(--luke-skywalker);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-1);
}

.articleCardTag {
  text-transform: uppercase;
}

.articleCardTitle {
  margin-top: 10px;
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-large);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
}

.articleCardPreview {
  margin-top: 5px;
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-medium);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  color: var(--sheev-palpatine);
}

.footer {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-small);

  a {
    color: var(--yoda);
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.authorImage {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
